{% extends "template.html" %}

{% block title %}PACMA {% endblock %}

{% block content %}
<div class="container">
    <h4>Items</h4>

    <table id="queueTable" class="table">
        <thead class="thead-dark">
            <th>Course Code</th>
            <th>Course Name</th>
            <th></th>
        </thead>
        <tbody>
            {% for item in queue.items %}
            <tr>
                <td>{{ item.submission.course.code }}</td>
                <td>{{ item.submission.course.name }}</td>
                <td class="text-center">
                    <i class="fa fa-edit" data-bs-toggle="modal" data-bs-target="#assignModal" onclick="setQueueItemID({{item.submission.id}})"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="assignModal" tabindex="-1" aria-labelledby="assignModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{{url_for('admin.queue_assign_action')}}" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="assignModalLabel">Add course</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="hidden" name="item_id" class="form-control" id="inp_item_id">
                    </div>
                    <div class="mb-3">
                        <label for="cetlUser" class=" form-label">Assign To</label>
                        <select class="form-select" aria-label="select cetlUser" name="cetlUser">
                            {% for cetlUser in cetlUsers %}
                                <option value="{{cetlUser.id}}">{{cetlUser.full_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Assign user</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script>
    $(document).ready(function () {
        $('#queueTable').DataTable();
    });

    function setQueueItemID(id){
        let inp = document.getElementById('inp_item_id')
        inp.value = id;
    }
</script>

{% endblock %}