{% extends "template.html" %}

{% block title %}PACMA {% endblock %}

{% block content %}
<div class="container">
    <button type="button" class="btn btn-primary my-4" data-bs-toggle="modal" data-bs-target="#resourceModal">
        + Add Resource
    </button>

    <table id="resourceTable" class="table">
        <thead class="thead-dark">
            <th>Name</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for resource in all_resources %}
            <tr>
                <td>{{ resource.title }}</td>
                <td class="text-center">
                    <i class="fa fa-edit"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-trash"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="resourceModal" tabindex="-1" aria-labelledby="resourceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{{url_for('admin.resource_create_action')}}" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="resourceModalLabel">Add Resource</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inp_resource_code" class="form-label">Resource Title</label>
                        <input type="text" name="title" class="form-control" id="inp_resource_code">
                    </div>
                    <div class="mb-3">
                        <label for="inp_resource_name" class="form-label">Resource Details</label>
                        <textarea id="w3review" class="form-control"  name="detail" rows="7" cols="50"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add resource</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script>
    $(document).ready(function () {
        $('#resourceTable').DataTable();
    });
</script>

{% endblock %}