*{
    box-sizing: border-box;
}

.page-height-less-navbar{
    height: calc(100vh - 60px) !important;
}

.topnav{
    height: 60px !important;
}

.form-label{
    text-transform: capitalize;
}

.capitalise-text{
    text-transform: capitalize;
}