{% extends "template.html" %}

{% block title %}PACMA {% endblock %}

{% block content %}
<div class="container">
    <button type="button" class="btn btn-primary my-4" data-bs-toggle="modal" data-bs-target="#programmeModal">
        + Add Programme
    </button>

    <table id="programmeTable" class="table">
        <thead class="thead-dark">
            <th>Name</th>
            <th>Department</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for programme in all_programmes %}
            <tr>
                <td>{{ programme.name }}</td>
                <td>{{ programme.department.name }}</td>
                <td class="text-center">
                    <i class="fa fa-edit" data-bs-toggle="modal" data-bs-target="#editProgrammeModal{{programme.id}}"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal{{programme.id}}"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="programmeModal" tabindex="-1" aria-labelledby="programmeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{{url_for('admin.programme_create_action')}}" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="programmeModalLabel">Add programme</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inp_programme" class="form-label">programme Name</label>
                        <input type="text" name="programme" class="form-control" id="inp_programme"
                            aria-describedby="programmeHelp">
                    </div>
                    <div class="mb-3">
                        <label for="department class=" form-label">Department</label>
                        <select class="form-select" aria-label="" name="department">
                            {% for department in departments %}
                            <option value="{{department.id}}">{{department.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add programme</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Edit Modal -->
{% for programme in all_programmes  %}
<div class="modal fade" id="editProgrammeModal{{ programme.id }}" tabindex="-1" aria-labelledby="editProgrammeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{{url_for('admin.programme_create_action')}}" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="programmeModalLabel">Edit {{programme.name}} </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inp_programme" class="form-label">programme Name</label>
                        <input type="text" name="programme" class="form-control" id="inp_programme"
                            aria-describedby="programmeHelp">
                    </div>
                    <div class="mb-3">
                        <label for="department class=" form-label">Department</label>
                        <select class="form-select" aria-label="" name="department">
                            {% for department in departments %}
                            <option value="{{department.id}}">{{department.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit Programme</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endfor %}

<!-- Delete Modal -->
{% for programme in all_programmes %}
<div class="modal fade" id="deleteModal{{ programme.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{ programme.name }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block page_scripts %}
<script>
    $(document).ready(function () {
        $('#programmeTable').DataTable();
    });
</script>

{% endblock %}