<!-- Sidenav should be in a col because of layout -->
<div id="sidebar" class="p-0 m-0 collapse collapse-horizontal show border-end page-height-less-navbar bg-light" style="max-width: 15vw;">
    <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start">
        <a href="{{url_for('admin.dashboard')}}" class="list-group-item border-end-0 d-inline-block text-truncate  bg-light" data-bs-parent="#sidebar">
            <i class="fa fa-lg fa-tachometer pl-4 pe-2" aria-hidden="true"></i>
            <span class="d-none d-md-inline">Dashboard</span>
        </a>
        <a href="{{url_for('admin.unassigned_queue')}}" class="list-group-item border-end-0 d-inline-block text-truncate  bg-light" data-bs-parent="#sidebar">
            <i class="fa fa-lg fa-chart-area pl-4 pe-2" aria-hidden="true"></i>
            <span class="d-none d-md-inline">Unassigned Items</span>
        </a>
        <a href="{{url_for('admin.lecturer')}}" class="list-group-item border-end-0 d-inline-block text-truncate  bg-light" data-bs-parent="#sidebar">
            <i class="fa fa-lg fa-user pl-4 pe-2" aria-hidden="true"></i>
            <span class="d-none d-md-inline">Lecturers</span>
        </a>
        
        <a href="{{url_for('admin.cetl_staff')}}" class="list-group-item border-end-0 d-inline-block text-truncate  bg-light" data-bs-parent="#sidebar">
            <i class="fa fa-lg fa-user pl-4 pe-2" aria-hidden="true"></i>
            <span class="d-none d-md-inline">CETL Staff</span>
        </a>

        <a href="{{url_for('admin.faculty')}}" class="list-group-item border-end-0 d-inline-block text-truncate  bg-light" data-bs-parent="#sidebar">
            <i class="fa fa-lg fa-map pl-4 pe-2" aria-hidden="true"></i>
            <span class="d-none d-md-inline">Faculties</span>
        </a>

        <a href="{{url_for('admin.department')}}" class="list-group-item border-end-0 d-inline-block text-truncate  bg-light" data-bs-parent="#sidebar">
            <i class="fa fa-lg fa-chart-area pl-4 pe-2" aria-hidden="true"></i>
            <span class="d-none d-md-inline">Departments</span>
        </a>
        <a href="{{url_for('admin.programme')}}" class="list-group-item border-end-0 d-inline-block text-truncate  bg-light" data-bs-parent="#sidebar">
            <i class="fa fa-lg fa-chart-area pl-4 pe-2" aria-hidden="true"></i>
            <span class="d-none d-md-inline">Programmes</span>
        </a>
        
        <a href="{{url_for('admin.course')}}" class="list-group-item border-end-0 d-inline-block text-truncate  bg-light" data-bs-parent="#sidebar">
            <i class="fa fa-lg fa-chart-area pl-4 pe-2" aria-hidden="true"></i>
            <span class="d-none d-md-inline">Courses</span>
        </a>
        <a href="{{url_for('admin.resource')}}" class="list-group-item border-end-0 d-inline-block text-truncate  bg-light" data-bs-parent="#sidebar">
            <i class="fa fa-lg fa-chart-area pl-4 pe-2" aria-hidden="true"></i>
            <span class="d-none d-md-inline">Resources</span>
        </a>
       
        <a href="{{url_for('login.logout_action')}}"
            class="list-group-item border-end-0 d-inline-block text-truncate  bg-light mt-auto" data-bs-parent="#sidebar">
            <i class="fa fa-lg fa-sign-out pl-4 pe-2" aria-hidden="true"></i>
            <span class="d-none d-md-inline">Logout</span>
        </a>
    </div>
</div>