{% extends 'template.html' %}

{% block content %}
  <div id="message-history">
    {% for message in messages %}
      <p>{{ message.sender }} said: {{ message.content }}</p>
    {% endfor %}
  </div>
  <form id="message-form">
    <input type="text" id="recipient-input" placeholder="Recipient user ID">
    <input type="text" id="message-input" placeholder="Type your message...">
    <button type="submit">Send</button>
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
