{% extends 'template.html' %}

{% block title %}
    Chat Page
{% endblock %}

{% block page_styles %}
    <link href="{{url_for('static', filename='css/chat.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    
    <table id="Cetl_Staff">
        <thead>
            <th>Name</th>
            
            <th>Email</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for chat_generate in cetl_staffs %}
            <tr>
                <td>{{ chat_generate.full_name }}</td>
                <td>{{ chat_generate.email }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    </table>
            </ul>
        </div>
        <div class="col-md-8">
            <h3>Chat Room</h3>
            <div id="chat-messages">
                <!-- Chat messages will be dynamically generated here -->
            </div>
            <form id="chat-form">
                <div class="form-group">
                    <textarea class="form-control" name="message" placeholder="Type your message here"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script src="{{url_for('static', filename='js/chat.js')}}"></script>
{% endblock %}
