{% extends 'template.html' %}

{% block title %}
    Chat Page
{% endblock %}

{% block page_styles %}
    <link href="{{url_for('static', filename='css/chat.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    
    <form id="message-form">
        <input type="text" name="recipient" placeholder="Recipient">
        <input type="text" name="message" placeholder="Message">
        <button type="submit">Send</button>
    </form>
    
</div>

    </table>
            </ul>
        </div>
        <div class="col-md-8">
            <h3>Chat Room</h3>
            <div id="chat-messages">
                <!-- Chat messages will be dynamically generated here -->
            </div>
            <form id="chat-form">
                <div class="form-group">
                    <textarea class="form-control" name="message" placeholder="Type your message here"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script src="{{url_for('static', filename='js/chat.js')}}"></script>
{% endblock %}
