{% extends "template.html" %}

{% block title %}PACMA {% endblock %}


{% block content %}
<div class="container py-4">
    <div class="row my-4">
        <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                + New Submission
            </button>
        </div>
        <div class="col">
            <a href="{{url_for('lecturer.generate_course_outline')}}" role="button" class="btn btn-primary">+ Generate
                Course Outline</a>
        </div>
    </div>


    <table id="outlineTable" class="table table-striped">
        <thead>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Status</th>
            <th></th>
        </thead>
        <tbody>
            {% for submission in submissions %}
            <tr>
                <td>{{ submission.course.code }}</td>
                <td>{{ submission.course.name }}</td>
                <td>{{ submission.status }}</td>
                <td class="text-center">
                    <a href="{{url_for('lecturer.course_submission', submission_id=submission.id)}}">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{{url_for('lecturer.course_outline_action')}}" method="POST" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create Course Outline</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="course" class=" form-label">course</label>
                        <select class="form-select" aria-label="" name="course">
                            {% for course in courses %}
                                <option value="{{course.id}}">{{course.code}} - {{course.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="inp_file" class="form-label">Course Outline</label>
                        <input type="file" name="document" class="form-control" id="inp_file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create Submission</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block page_scripts %}
<script>
    $(document).ready(function () {
        $('#outlineTable').DataTable();
    });
</script>

{% endblock %}